/* line 2, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.h1 {
  font-size: 2.4em;
  line-height: 1.1em;
  text-transform: uppercase;
}

/* line 6, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 11, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.absolute-width {
  position: absolute;
  width: 500px;
}

/* line 14, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.remote-blue {
  color: #4A5680;
}

/* line 16, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav {
  padding: 40px 0;
}

/* line 18, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__logo, .globalnav__text-logo {
  display: inline-block;
  vertical-align: middle;
}

/* line 21, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__logo {
  width: 115px;
  margin-right: 10px;
}

/* line 24, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__text-logo {
  font-size: .87em;
}

/* line 26, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__contact {
  border: 1px solid #FFF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 55px;
  padding: 10px 17px;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 36, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__contact span {
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 39, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__contact svg {
  width: 18px;
  vertical-align: middle;
}

/* line 42, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__contact svg #white-power-top, .globalnav__contact svg #white-power-top-2 {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #E9E9E9;
}

/* line 45, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__contact:hover {
  background-color: #fff;
  border-color: #4a5680;
}

/* line 48, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__contact:hover span {
  color: #4a5680;
}

/* line 51, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.globalnav__contact:hover svg #white-power-top, .globalnav__contact:hover svg #white-power-top-2 {
  fill: #4a5680;
}

/* line 54, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.preloader {
  z-index: 15;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #FFF;
  align-items: center;
  justify-content: center;
  -moz-transition: 0.3s all 0.4s;
  -o-transition: 0.3s all 0.4s;
  -webkit-transition: 0.3s all 0.4s;
  transition: 0.3s all 0.4s;
}

/* line 69, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.preloader img {
  -webkit-animation: 1.2s infinite preloader-heart;
  -moz-animation: 1.2s infinite preloader-heart;
  -o-animation: 1.2s infinite preloader-heart;
  animation: 1.2s infinite preloader-heart;
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 80, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.preloader.fast img {
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

/* line 85, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.preloader.hide {
  opacity: 0;
}

/* line 87, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.preloader.hide img {
  -webkit-animation: 0.4s linear both preloader-die;
  -moz-animation: 0.4s linear both preloader-die;
  -o-animation: 0.4s linear both preloader-die;
  animation: 0.4s linear both preloader-die;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 93, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-bg, .modal-callback, .modal-success {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

/* line 99, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star {
  z-index: 11;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 109, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star.show {
  -webkit-animation: .3s linear .2s forwards show-callback;
  -moz-animation: .3s linear .2s forwards show-callback;
  -o-animation: .3s linear .2s forwards show-callback;
  animation: .3s linear .2s forwards show-callback;
  transition-delay: .2s;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 116, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star.hide {
  -webkit-animation: .3s linear 0s forwards show-callback-rev;
  -moz-animation: .3s linear 0s forwards show-callback-rev;
  -o-animation: .3s linear 0s forwards show-callback-rev;
  animation: .3s linear 0s forwards show-callback-rev;
}

/* line 121, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__block {
  background-color: #fff;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 127, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__block p {
  color: #4A5680;
}

/* line 129, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__block_padding {
  padding: 45px;
}

/* line 131, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__block .button-form {
  display: block;
  margin: 25px auto;
  font-size: 1.1em;
}

/* line 135, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__name-parameters {
  display: block;
  text-align: center;
  color: #599255;
  font-size: .7em;
  margin-top: 20px;
}

/* line 141, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__closed {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 25px;
  width: 20px;
  height: 20px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 149, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__closed svg {
  width: 100%;
  height: 100%;
}

/* line 152, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__closed:hover {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 154, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__stars {
  display: flex;
  margin: 5px 0;
}

/* line 157, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__stars img {
  display: block;
  width: 40px;
}

/* line 160, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__stars img:nth-child(1) {
  margin-left: auto;
}

/* line 162, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__stars img:nth-child(5) {
  margin-right: auto;
}

/* line 164, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-star__pic-trainer {
  width: 100%;
  margin-bottom: 15px;
}

/* line 167, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-bg {
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.56);
}

/* line 171, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-bg.show {
  display: block;
  -webkit-animation: .3s linear 0s forwards show-bg-form;
  -moz-animation: .3s linear 0s forwards show-bg-form;
  -o-animation: .3s linear 0s forwards show-bg-form;
  animation: .3s linear 0s forwards show-bg-form;
}

/* line 177, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-bg.hide {
  -webkit-animation: .3s linear .2s forwards show-bg-form-rev;
  -moz-animation: .3s linear .2s forwards show-bg-form-rev;
  -o-animation: .3s linear .2s forwards show-bg-form-rev;
  animation: .3s linear .2s forwards show-bg-form-rev;
}

/* line 182, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-callback {
  z-index: 11;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  display: flex;
}

/* line 186, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-callback.show {
  -webkit-animation: .3s linear .2s forwards show-callback;
  -moz-animation: .3s linear .2s forwards show-callback;
  -o-animation: .3s linear .2s forwards show-callback;
  animation: .3s linear .2s forwards show-callback;
  transition-delay: .2s;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 193, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-callback.hide {
  -webkit-animation: .3s linear 0s forwards show-callback-rev;
  -moz-animation: .3s linear 0s forwards show-callback-rev;
  -o-animation: .3s linear 0s forwards show-callback-rev;
  animation: .3s linear 0s forwards show-callback-rev;
}

/* line 198, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-callback__closed {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 205, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-callback__closed:hover {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 207, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-callback__form {
  position: relative;
  z-index: 4;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
}

/* line 218, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-callback__form .select-cokes {
  width: 100%;
  border: 1px #599255 solid;
  color: #4a5680;
  background-color: transparent;
  text-align: center;
  margin: 20px 0;
  font-size: 1.3em;
}

/* line 226, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success {
  z-index: 11;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  display: flex;
}

/* line 230, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success.show {
  -webkit-animation: .3s linear .2s forwards show-callback;
  -moz-animation: .3s linear .2s forwards show-callback;
  -o-animation: .3s linear .2s forwards show-callback;
  animation: .3s linear .2s forwards show-callback;
  transition-delay: .2s;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 237, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success.hide {
  -webkit-animation: .3s linear 0s forwards show-callback-rev;
  -moz-animation: .3s linear 0s forwards show-callback-rev;
  -o-animation: .3s linear 0s forwards show-callback-rev;
  animation: .3s linear 0s forwards show-callback-rev;
}

/* line 242, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success__in-love {
  position: relative;
  z-index: 4;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 12px;
  border-radius: 10px;
  overflow: hidden;
}

/* line 249, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success__circler {
  background-color: #4A5680;
  padding: 50px 40px;
  text-align: center;
  border-radius: 0 0 50% 50%;
}

/* line 254, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success__ball {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
}

/* line 259, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success__closed {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 266, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success__closed:hover {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 268, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.modal-success__subcircler {
  text-align: center;
  padding: 50px 0;
}

/* line 272, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* line 280, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__ball div {
  height: 11vh;
  max-width: 100%;
  position: relative;
}

/* line 284, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__ball div img {
  height: 100%;
}

/* line 286, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__bat {
  display: block;
  height: 65vh;
}

/* line 289, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__offerbach {
  margin-bottom: 30vh;
}

/* line 291, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__offerbach p {
  padding: 20px 0;
  text-transform: uppercase;
}

/* line 294, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__svgball {
  cursor: pointer;
  position: fixed;
  display: block;
  height: 40px;
  width: 40px;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

/* line 305, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__svgball:hover {
  -moz-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

/* line 307, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-offer__svgball img {
  height: 100%;
}

/* line 309, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.main {
  position: relative;
  z-index: 5;
}

/* line 312, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.bg {
  position: relative;
}

/* line 314, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.bg:nth-child(odd) {
  background-image: url(../img/bg-white.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 318, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.bg:nth-child(even) {
  background-image: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 323, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.free-bat__bat {
  width: 88%;
}

/* line 325, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.free-bat__ball {
  display: block;
  margin: -20px 13% 40px auto;
  width: 50px;
}

/* line 329, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.free-bat__half-ball {
  bottom: 0;
  left: 0;
}

/* line 332, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.teach-offer {
  z-index: 3;
}

/* line 334, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.teach-offer__ball {
  position: absolute;
  top: -25%;
  height: 150%;
  left: 0%;
}

/* line 339, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.teach-offer__text {
  text-align: center;
}

/* line 341, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.teach-offer__man {
  width: 160%;
  margin-top: 15px;
  margin-bottom: -80px;
}

/* line 345, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.teach-offer__boy {
  width: 110%;
  margin-top: -60px;
}

/* line 349, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.train-offer__half-ball {
  top: 0;
  left: 0;
}

/* line 352, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.train-offer__second-ball {
  bottom: 0;
  right: 0;
}

/* line 355, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.train-offer__court {
  width: 100%;
  display: block;
}

/* line 359, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.individual__text {
  text-align: right;
}

/* line 361, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.individual__people {
  display: block;
  width: 110%;
  margin-top: -70px;
}

/* line 365, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form {
  z-index: 3;
  padding: 100px 0;
}

/* line 368, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form .political {
  margin-bottom: 40px;
}

/* line 370, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form__ball {
  top: 0;
  right: 0;
}

/* line 373, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form__form {
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* line 380, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form__form .select-cokes {
  width: 100%;
  border: 1px #599255 solid;
  color: #4a5680;
  background-color: transparent;
  text-align: center;
  margin: 20px 0;
  font-size: 1.3em;
}

/* line 388, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form__inform-first {
  background-color: #4A5680;
  padding: 50px 40px;
  text-align: center;
  border-radius: 0 0 50% 50%;
}

/* line 393, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form__inform-second {
  padding: 30px 0;
}

/* line 395, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.half-form__half-ball {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
}

/* line 400, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers {
  padding: 120px 0;
}

/* line 402, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers .col-lg-3 {
  -ms-flex: 0 0 29%;
  flex: 0 0 29%;
  max-width: 29%;
}

/* line 406, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers .h1 {
  margin-bottom: 10px;
}

/* line 408, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers .h2 {
  margin-bottom: 50px;
}

/* line 410, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__item {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 418, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__item video {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: -25px;
}

/* line 423, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__item-info {
  z-index: 2;
  position: relative;
  background-color: #FFF;
  width: 200%;
  border-top: 1px solid #599255;
  border-radius: 100% 100% 0 0;
  margin-left: -50%;
}

/* line 431, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__item-info .for-100 {
  width: 50%;
  margin: auto;
}

/* line 434, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__item:hover {
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 437, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__text-name {
  display: block;
  font-size: 1.1em;
  margin: 15px 0 10px;
  text-align: center;
  color: #4A5680;
}

/* line 443, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__text-about {
  display: block;
  font-size: 0.78em;
  color: #599255;
  padding-left: 18px;
  padding-top: 4px;
  position: relative;
}

/* line 450, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.trainers__text-about:before {
  position: absolute;
  content: url(../img/icons/ball-green.svg);
  width: 10px;
  height: 10px;
  left: 5px;
}

/* line 456, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about {
  color: #4A5680;
  padding: 86px 0 0;
}

/* line 459, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about__half-ball {
  top: 0;
  left: 0;
}

/* line 462, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about h1 {
  margin-bottom: 50px;
}

/* line 464, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about p {
  padding-bottom: 20px;
}

/* line 466, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about a {
  color: #00F;
}

/* line 468, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about__image {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.22);
}

/* line 474, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about__image-mb {
  margin-bottom: 25px;
}

/* line 476, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

/* line 480, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel button {
  margin-top: -15px;
}

/* line 482, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

/* line 486, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel .owl-prev, .about .inner-carousel .owl-next {
  position: absolute;
  width: 30px;
}

/* line 489, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel .owl-prev {
  left: 10px;
}

/* line 491, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel .owl-next {
  right: 10px;
}

/* line 493, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel__arrow {
  content: '';
  top: 50%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

/* line 502, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel__arrow img {
  display: block;
  width: auto;
  height: 100%;
  padding: 5px 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 510, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .inner-carousel__arrow_right img {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 512, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .owl-carousel {
  padding: 80px 0;
  line-height: 0em;
  cursor: pointer;
  color: #000;
}

/* line 517, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .owl-carousel__bdrs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 526, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .owl-carousel__img, .about .owl-carousel__text {
  display: block;
  padding-right: 30px;
  cursor: pointer;
}

/* line 530, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .owl-carousel__img {
  width: 58%;
}

/* line 532, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .owl-carousel__text {
  width: 42%;
}

/* line 534, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .owl-carousel__text span {
  cursor: pointer;
}

/* line 536, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.about .owl-carousel__text span:nth-child(2) {
  display: block;
  padding-top: 10px;
  font-size: 15px;
}

/* line 541, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__link {
  display: block;
  width: 50px;
  height: 50px;
  margin: 80px auto;
}

/* line 546, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__link-icon {
  width: 100%;
}

/* line 548, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__pic {
  overflow: hidden;
}

/* line 550, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__pic img {
  display: block;
  width: 100%;
}

/* line 553, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__pic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 100%;
  opacity: 0;
  background-color: #000;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 564, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__pic:hover:before {
  opacity: .4;
}

/* line 566, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__button {
  background-color: transparent;
  border: 1px solid #FFF;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 8px 30px;
  margin: 70px auto;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 575, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.instagram__button:hover {
  background-color: #FFF;
  color: #4A5680;
  border-color: #4A5680;
}

/* line 579, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn {
  padding-top: 88px;
  color: #4A5680;
}

/* line 582, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn p {
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 15px 0;
}

/* line 586, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__man {
  display: block;
  width: 100%;
}

/* line 589, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__half-ball {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 593, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__inMap {
  display: flex;
  position: relative;
  width: 100%;
}

/* line 597, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__inMap #map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 605, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__form {
  position: relative;
  z-index: 4;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 70px 0;
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
}

/* line 617, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__form-first {
  color: #FFF;
  background-color: #4A5680;
  padding: 35px;
  text-align: center;
  border-radius: 0 0 45% 45%;
}

/* line 623, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__form-second {
  padding: 30px 0;
}

/* line 625, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn__form-spanec {
  display: block;
  text-align: center;
}

/* line 628, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.learn .political {
  margin-bottom: 20px;
}

/* line 630, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts {
  padding: 110px 0;
  text-align: center;
}

/* line 633, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts h2 {
  line-height: 0.63em;
}

/* line 635, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts p {
  margin: 25px 0;
  text-align: center;
}

/* line 638, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts__number {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border: 1px #FFF solid;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 647, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts__number:hover {
  background-color: #fff;
  border-color: #4a5680;
}

/* line 650, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts__number:hover #white-power, .contacts__number:hover #white-power-2 {
  fill: #4a5680;
}

/* line 652, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts__number:hover span {
  color: #4a5680;
}

/* line 654, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts__number svg, .contacts__number span {
  vertical-align: middle;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 658, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts__number #white-power, .contacts__number #white-power-2 {
  fill: #E9E9E9;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 661, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.contacts__number svg {
  width: 15px;
  margin-right: 2px;
}

/* line 664, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.form-last {
  padding: 60px 0;
}

/* line 666, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.form-last .political {
  margin-bottom: 20px;
}

/* line 668, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.form-last__form {
  position: relative;
  z-index: 4;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
}

/* line 679, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.form-last__head {
  color: #FFF;
  background-color: #4A5680;
  padding: 35px;
  text-align: center;
  border-radius: 0 0 45% 45%;
}

/* line 685, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.form-last__sub-head {
  padding: 30px 0;
}

/* line 687, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.form-last__offer {
  display: block;
  text-align: center;
}

/* line 690, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer {
  z-index: 4;
  position: relative;
  background-image: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 50px 0;
}

/* line 698, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__school-name, .footer__logo {
  display: inline-block;
  vertical-align: middle;
}

/* line 701, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__logo {
  width: 115px;
  margin-right: 10px;
}

/* line 704, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__school-name {
  font-size: .87em;
}

/* line 706, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__social {
  text-align: center;
}

/* line 708, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__social a {
  display: inline-block;
  line-height: 0.63em;
  width: 43px;
  margin: 0 5px;
}

/* line 713, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__social a img, .footer__social a svg {
  width: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 717, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__social a svg .vk__circle_blue, .footer__social a svg .inst__circle_gradient {
  fill: transparent;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 720, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__social a svg:hover {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 722, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__social a svg:hover .vk__circle_blue {
  fill: #4A5680;
}

/* line 724, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__social a svg:hover .inst__circle_gradient {
  fill: #E4405B;
}

/* line 726, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__rights {
  display: block;
  max-width: 178px;
  margin-left: auto;
}

/* line 730, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__rights img {
  width: 100%;
}

/* line 732, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__political {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}

/* line 739, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__political a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: .8em;
}

/* line 742, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.footer__political a:hover {
  opacity: .6;
}

/* line 746, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-political {
  padding-bottom: 150px;
}

/* line 748, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-political, .head-error {
  background-image: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 5;
}

/* line 754, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-political h1, .head-error h1 {
  text-align: center;
  margin: 50px 0;
}

/* line 757, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-political button, .head-error button {
  display: block;
  margin: auto;
}

/* line 760, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.legal-page {
  background-image: url(../img/bg-white.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  padding: 120px 0;
  position: relative;
}

/* line 766, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.legal-page p {
  color: #000;
}

/* line 768, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.what-is-ball img {
  width: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto -40px;
}

/* line 777, /Users/alexanderDev/Desktop/table-tennis/sass/index.sass */
.head-error .what-is-tennis {
  width: 100%;
  margin-bottom: -150px;
}

/*# sourceMappingURL=../css/index.map */