@media screen and (max-height: 769px) {
  /* line 4, /Users/alexanderDev/Desktop/table-tennis/sass/_media-height.sass */
  .modal-star__stars {
    margin: 3px 0;
  }
  /* line 6, /Users/alexanderDev/Desktop/table-tennis/sass/_media-height.sass */
  .modal-star__name-parameters {
    margin-top: 13px;
  }
  /* line 8, /Users/alexanderDev/Desktop/table-tennis/sass/_media-height.sass */
  .modal-star__pic-trainer {
    margin-bottom: 5px;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
  /* line 14, /Users/alexanderDev/Desktop/table-tennis/sass/_media-height.sass */
  .modal-star__block .button-form {
    margin: 17px auto;
    font-size: 0.9em;
  }
}

@media (min-width: 1200px) {
  /* line 19, /Users/alexanderDev/Desktop/table-tennis/sass/_media-height.sass */
  .trainers .col-lg-3 {
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
  }
}

@media screen and (max-width: 1200px) {
  /* line 4, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 15px;
  }
  /* line 6, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h2, h3 {
    font-size: 2em;
  }
  /* line 8, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h1 {
    font-size: 1.8em;
  }
  /* line 10, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h2 {
    font-size: 1.3em;
  }
  /* line 12, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .absolute-width {
    width: 400px;
  }
  /* line 14, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .group {
    margin-bottom: 20px;
  }
  /* line 16, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-form {
    font-size: .9em;
  }
  /* line 19, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__logo {
    width: 95px;
  }
  /* line 21, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__block .button-form {
    font-size: .9em;
  }
  /* line 24, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__ball div {
    height: 9vh;
  }
  /* line 28, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__half-ball {
    width: 25px;
  }
  /* line 30, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__inform-first {
    padding: 35px 40px;
  }
  /* line 32, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form .political {
    margin-bottom: 20px;
  }
  /* line 35, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn__form-first {
    padding: 25px;
  }
  /* line 37, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .contacts {
    padding: 70px 0;
  }
  /* line 40, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__logo {
    width: 75px;
  }
  /* line 42, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__school-name {
    font-size: 0.77em;
  }
  /* line 44, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__rights {
    max-width: 153px;
  }
}

@media screen and (max-width: 992px) {
  /* line 47, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 13px;
  }
  /* line 49, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h1 {
    font-size: 1.4em;
  }
  /* line 51, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h2 {
    font-size: 1em;
  }
  /* line 53, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .absolute-width {
    width: 300px;
  }
  /* line 55, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-mod {
    font-size: .9em;
    padding: 6px 16px;
  }
  /* line 58, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-form {
    font-size: .7em;
  }
  /* line 60, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .group {
    margin-bottom: 15px;
  }
  /* line 63, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__logo {
    width: 75px;
  }
  /* line 65, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__text-logo {
    font-size: 0.67em;
  }
  /* line 67, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__contact {
    padding: 7px 17px;
  }
  /* line 70, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__svgball {
    height: 30px;
    width: 30px;
  }
  /* line 74, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__offerbach p {
    padding: 13px 0;
  }
  /* line 77, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .instagram__link, .instagram__button {
    margin: 55px auto;
  }
  /* line 80, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn__half-ball {
    width: 300px;
  }
  /* line 83, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__inform-second {
    padding: 10px 0;
  }
  /* line 86, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__form .select-cokes {
    font-size: 1em;
  }
  /* line 89, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .form-last__sub-head {
    padding: 10px 0 20px;
  }
  /* line 92, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__logo {
    width: 55px;
  }
  /* line 94, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__school-name {
    font-size: 0.57em;
  }
}

@media screen and (max-width: 768px) {
  /* line 97, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 11px;
  }
  /* line 99, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h2, h3 {
    font-size: 1.7em;
  }
  /* line 102, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .political [type="checkbox"] + label:before {
    margin-top: 0;
  }
  /* line 104, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .political [type="checkbox"] + label:after {
    margin-top: 1px;
  }
  /* line 106, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h1 {
    font-size: 1.2em;
  }
  /* line 109, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn p {
    font-size: 0.9em;
  }
  /* line 112, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav address {
    display: none;
  }
  /* line 114, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__logo {
    width: 60px;
  }
  /* line 116, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__text-logo {
    font-size: 0.6em;
  }
  /* line 120, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__social a {
    width: 23px;
  }
  /* line 122, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__school-name {
    font-size: 0.37em;
  }
  /* line 124, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__logo {
    width: 45px;
    margin-right: 1px;
  }
  /* line 127, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__rights {
    max-width: 113px;
  }
}

@media screen and (max-width: 575.98px) {
  /* line 130, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 16px;
  }
  /* line 132, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .overfloff {
    -webkit-overflow-scrolling: auto;
    touch-action: none;
  }
  /* line 135, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  html {
    width: 100%;
  }
  /* line 138, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .group input {
    padding: 7px;
  }
  /* line 140, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .political label {
    font-size: .8em;
  }
  /* line 142, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .political a {
    font-size: 1em;
  }
  /* line 144, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .mob-order-1 {
    order: 1;
  }
  /* line 146, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .mob-order-2 {
    order: 2;
  }
  /* line 148, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .mob-order-3 {
    order: 3;
  }
  /* line 150, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h1 {
    font-size: 1.7em;
  }
  /* line 152, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h2 {
    font-size: 1.3em;
  }
  /* line 156, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__number-mob svg {
    width: 12px;
    vertical-align: middle;
  }
  /* line 159, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__number-mob svg #white-power-top, .globalnav__number-mob svg #white-power-top-2 {
    fill: #E9E9E9;
  }
  /* line 161, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-mod {
    display: inline-block;
    font-size: 0.7em;
    padding: 8px 15px 5px;
  }
  /* line 165, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-form {
    padding-top: 13px;
  }
  /* line 169, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-callback__form .select-cokes {
    font-size: 0.9em;
  }
  /* line 171, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-callback__closed {
    width: 20px;
  }
  /* line 175, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__closed_mob {
    display: block;
  }
  /* line 177, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__closed_desc {
    display: none;
  }
  /* line 179, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__stars img {
    width: 40px;
  }
  /* line 181, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__pic-trainer {
    height: auto;
  }
  /* line 183, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__gogo-text {
    padding-bottom: 30px;
  }
  /* line 185, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__block {
    margin: 15px 0;
  }
  /* line 187, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__block p {
    padding: 0 20px;
  }
  /* line 189, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .modal-star__block h3 {
    padding: 35px 20px 15px;
  }
  /* line 191, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer {
    height: auto;
    overflow: visible;
    z-index: 7;
  }
  /* line 195, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__ball {
    position: absolute;
    top: -15px;
    right: -15px;
  }
  /* line 199, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__ball div {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0;
    height: 70px;
  }
  /* line 206, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__svgball {
    display: none;
    bottom: 10px;
  }
  /* line 209, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__bat {
    height: auto;
    width: 100%;
  }
  /* line 212, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__offerbach {
    margin-bottom: auto;
  }
  /* line 214, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__offerbach p {
    font-size: .9em;
  }
  /* line 216, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__mob-offer {
    margin-bottom: 30px;
  }
  /* line 218, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__mob-childrien {
    width: 145%;
    float: right;
  }
  /* line 221, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__mob-man {
    width: 100%;
    margin-bottom: -40px;
  }
  /* line 224, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__h2-teach {
    margin: 50px 0;
  }
  /* line 227, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .free-bat__offer {
    margin: 40px 0;
  }
  /* line 229, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .free-bat__mob-img {
    margin: 0 auto 80px;
    width: 100%;
  }
  /* line 232, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .teach-offer {
    display: none;
  }
  /* line 234, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .train-offer {
    padding: 70px 0;
    background-image: url(../img/bg.jpg) !important;
  }
  /* line 237, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .train-offer .remote-blue {
    color: #FFF;
  }
  /* line 239, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .train-offer__court {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  /* line 244, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .individual {
    background-image: url(../img/bg-white.jpg) !important;
    padding-bottom: 50px;
  }
  /* line 247, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .individual__text {
    text-align: center;
    padding: 50px 0 20px;
    color: #4A5680;
  }
  /* line 251, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .individual__people {
    width: 100%;
    margin-top: 0;
  }
  /* line 254, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form {
    display: none;
  }
  /* line 257, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__inform-first .h2 {
    font-size: .9em;
  }
  /* line 261, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .form-last__head .h2 {
    font-size: 1em;
  }
  /* line 263, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .trainers {
    padding: 60px 0;
  }
  /* line 265, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .trainers .h2 {
    margin-bottom: 0;
  }
  /* line 267, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .trainers video {
    display: none;
  }
  /* line 269, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .trainers__image-mob {
    display: block;
    width: 100%;
    margin-bottom: -20px;
  }
  /* line 273, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .trainers__text-mob {
    display: block;
    color: #599255;
    font-size: .7em;
    text-align: center;
  }
  /* line 278, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .trainers__text-name {
    font-size: 0.8em;
    margin: 12px 0 5px;
  }
  /* line 281, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .trainers__text-about {
    display: none;
  }
  /* line 283, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about {
    padding-top: 55px;
  }
  /* line 285, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about p {
    padding-bottom: 35px;
  }
  /* line 287, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about h1 {
    margin-bottom: 10px;
  }
  /* line 289, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about .h2 {
    margin-bottom: 15px;
  }
  /* line 291, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about .owl-carousel {
    padding-top: 30px;
  }
  /* line 293, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about .owl-carousel__img, .about .owl-carousel__text {
    width: 100%;
    padding: 0;
  }
  /* line 296, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about .owl-carousel__text {
    padding: 25px;
  }
  /* line 298, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .about__image {
    margin-bottom: 40px;
  }
  /* line 301, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .instagram__pic {
    display: block;
    padding: 10px 0;
  }
  /* line 304, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .instagram__pic:before {
    content: none;
  }
  /* line 306, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn {
    padding-top: 55px;
  }
  /* line 308, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn p {
    font-size: 0.7em;
  }
  /* line 310, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn .button-mod {
    display: block;
    margin-top: 20px;
    padding: 11px 25px 8px;
    font-size: 0.8em;
  }
  /* line 315, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn__form {
    margin: 500px 0 -320px;
  }
  /* line 317, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn__man {
    display: block;
    width: 110%;
    padding-top: 40px;
  }
  /* line 321, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .contacts {
    padding: 380px 0 30px;
  }
  /* line 323, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .contacts p {
    font-size: .7em;
  }
  /* line 325, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .form-last {
    padding: 60px 0 0;
  }
  /* line 327, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .form-last__form {
    margin-bottom: -50px;
  }
  /* line 329, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer {
    padding: 70px 0;
  }
  /* line 331, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__rights {
    min-width: 45%;
    margin-top: 10px;
    margin-right: auto;
  }
  /* line 335, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__social {
    margin-top: 20px;
  }
  /* line 337, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__social a {
    width: 50px;
  }
  /* line 339, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__logo {
    width: 70px;
  }
  /* line 341, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__school-name {
    font-size: .75em;
  }
  /* line 343, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__political {
    bottom: 30px;
  }
  /* line 345, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-political {
    padding-bottom: 60px;
  }
  /* line 347, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .legal-page {
    padding: 50px 0;
  }
  /* line 349, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .legal-page p {
    font-size: 0.8em;
  }
  /* line 351, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .page-form {
    background-color: #000;
    padding: 15px 30px;
  }
}

/*# sourceMappingURL=../css/media.map */