@media screen and (max-width: 1200px) {
  /* line 3, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 15px;
  }
  /* line 5, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h2, h3 {
    font-size: 2em;
  }
  /* line 7, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h1 {
    font-size: 1.8em;
  }
  /* line 9, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h2 {
    font-size: 1.3em;
  }
  /* line 11, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .absolute-width {
    width: 400px;
  }
  /* line 13, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .group {
    margin-bottom: 20px;
  }
  /* line 15, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-form {
    font-size: .9em;
  }
  /* line 18, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__logo {
    width: 95px;
  }
  /* line 21, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__ball {
    height: 9vh;
  }
  /* line 24, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__half-ball {
    width: 25px;
  }
  /* line 26, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__inform-first {
    padding: 35px 40px;
  }
  /* line 28, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form .political {
    margin-bottom: 20px;
  }
  /* line 31, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn__form-first {
    padding: 25px;
  }
  /* line 33, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .contacts {
    padding: 70px 0;
  }
  /* line 36, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__logo {
    width: 75px;
  }
  /* line 38, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__school-name {
    font-size: 0.77em;
  }
  /* line 40, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__rights {
    max-width: 153px;
  }
}

@media screen and (max-width: 992px) {
  /* line 43, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 13px;
  }
  /* line 45, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h1 {
    font-size: 1.4em;
  }
  /* line 47, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h2 {
    font-size: 1em;
  }
  /* line 49, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .absolute-width {
    width: 300px;
  }
  /* line 51, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-mod {
    font-size: .9em;
    padding: 6px 16px;
  }
  /* line 54, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .button-form {
    font-size: .7em;
  }
  /* line 56, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .group {
    margin-bottom: 15px;
  }
  /* line 59, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__logo {
    width: 75px;
  }
  /* line 61, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__text-logo {
    font-size: 0.67em;
  }
  /* line 63, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__contact {
    padding: 7px 17px;
  }
  /* line 66, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__svgball {
    height: 30px;
    width: 30px;
  }
  /* line 70, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__offerbach p {
    padding: 13px 0;
  }
  /* line 73, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .instagram__link, .instagram__button {
    margin: 55px auto;
  }
  /* line 76, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn__half-ball {
    width: 300px;
  }
  /* line 79, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__inform-second {
    padding: 10px 0;
  }
  /* line 82, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .half-form__form .select-cokes {
    font-size: 1em;
  }
  /* line 85, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .form-last__sub-head {
    padding: 10px 0 20px;
  }
  /* line 88, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__logo {
    width: 55px;
  }
  /* line 90, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__school-name {
    font-size: 0.57em;
  }
}

@media screen and (max-width: 768px) {
  /* line 93, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 11px;
  }
  /* line 95, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h2, h3 {
    font-size: 1.7em;
  }
  /* line 98, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .political [type="checkbox"] + label:before {
    margin-top: 0;
  }
  /* line 100, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .political [type="checkbox"] + label:after {
    margin-top: 1px;
  }
  /* line 102, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .h1 {
    font-size: 1.2em;
  }
  /* line 105, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .learn p {
    font-size: 0.9em;
  }
  /* line 108, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav address {
    display: none;
  }
  /* line 110, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__logo {
    width: 60px;
  }
  /* line 112, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__text-logo {
    font-size: 0.6em;
  }
  /* line 116, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__social a {
    width: 23px;
  }
  /* line 118, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__school-name {
    font-size: 0.37em;
  }
  /* line 120, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__logo {
    width: 45px;
    margin-right: 1px;
  }
  /* line 123, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .footer__rights {
    max-width: 113px;
  }
}

@media screen and (max-width: 575.98px) {
  /* line 126, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  h1, h4, h5, p, a, i, button, span, address, li, label, small {
    font-size: 9px;
  }
  /* line 130, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__number-mob svg {
    width: 12px;
    vertical-align: middle;
  }
  /* line 133, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .globalnav__number-mob svg #white-power-top, .globalnav__number-mob svg #white-power-top-2 {
    fill: #E9E9E9;
  }
  /* line 135, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer {
    height: auto;
  }
  /* line 137, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__ball {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0;
  }
  /* line 143, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__bat {
    height: auto;
    width: 100%;
  }
  /* line 146, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__offerbach {
    margin-bottom: 50px;
  }
  /* line 148, /Users/alexanderDev/Desktop/table-tennis/sass/media.sass */
  .head-offer__mob-offer {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=../css/media.map */